<p>join-page works!</p>

<div class="card card-container-join">
    <div class="card-body p-5" [formGroup]="joininForm">
        <img src="../../assets/images/logo_size_invert.jpg" alt="logo" class="card-img-join">
        <h3 class="card-header-join">Fill the details</h3>
        <div class="form-floating mb-3 mt-4">
            <input type="email" class="form-control" placeholder="Jhon cena" formControlName="fullName">
            <label>Full name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" placeholder="name@example.com" formControlName="mobileNumber">
            <label>Mobile number</label>
        </div>
        <div class="d-flex mb-4">
            <div class="form-check m-1">
                <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" value="male"
                    formControlName="gender">
                <label class="form-check-label" for="flexRadioDefault1">
                    Male
                </label>
            </div>
            <div class="form-check m-1">
                <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2" value="female"
                    formControlName="gender">
                <label class="form-check-label" for="flexRadioDefault2">
                    Female
                </label>
            </div>
        </div>
        <div class="form-floating mb-4">
            <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
            <label>Email address</label>
        </div>
        <select class="form-select" formControlName="bloodgroup" aria-label="Default select example">
            <option selected disabled value="">Select your Blood group</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="AB">AB</option>
            <option value="O">O</option>
        </select>
        <div class="d-flex mt-4">
            <label class="form-check-label" for="flexCheckDefault">
                <input class="form-check-input" type="checkbox" formControlName="joinCheckbox">
                I do hereby declare that all the above information given by me are true to the best of my knowledge
            </label>

        </div>
        <button class="btn btn-custom-join mt-5" (click)="submit()" type="button" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Join Us</button>
    </div>
    <p>{{joininForm.value.joinCheckbox|json}}123</p>
    <p>{{joininForm.valid|json}}</p>
</div>
<div *ngIf="joininForm.valid">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>

            </div>
        </div>
    </div>
</div>