.card-container-join{
    text-align: center;
    width: 40%;
    margin: auto;
}
.card-header-join{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}
.card-img-join{
    width: 30%;
}
.btn-custom-join{
    background-color: #b90302;
    color: white;
    width: 50%;
    padding: 10px;
    font-size: 25px;
}
.error-msg {
    text-align: start;
    color: red;
    font-family: sans-serif;
    font-size: medium;
    padding-left: 11px;
}
.elips {
    white-space: nowrap;
    width: 200px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 48px;
}
.elips:hover {
    overflow: auto;
    text-overflow: initial;
    width: fit-content;
    white-space: break-spaces;
}
.form-check-label {
    display: flex;
    align-items: center;
    gap: 20px;
}