.nav-blood-background{
    background-color: #b90302;
    color: white;
}

.nav-link-custome li a{
    text-decoration: none;
    color: white;
}
.nav-link-custome li{
    display: flex;
    flex-direction: row;
    list-style: none;


}

.nav-list{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 50%;
    padding-top: 15px;
}
.nav-list li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}
.icon-drop{
    margin-left: 6px;
}