
<!-- <nav class="navbar navbar-expand-lg nav-blood-background ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../assets/images/logo_size_invert2.jpg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav  nav-link-custome" >
        <li class="nav-item">
          <a class=" nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<nav class="navbar  nav-blood-background ">
    <div class="container">
      <a class="navbar-brand"><img src="../assets/images/logo_size_invert2.jpg" alt="ones blood bank"></a>
      <div>
        <ul class="nav-list">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="join-us"> Join</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <button class="btn btn-outline-light">Login<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet-fill icon-drop" viewBox="0 0 16 16">
        <path d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6ZM6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13Z"/>
      </svg></button>
    </div>
  </nav>